  .Text{
    font-family: helvetica ,arial, sans-serif;
	font-size: 12pt;
  }
  .SmallText{
    font-family: helvetica ,arial, sans-serif;
	font-size: 10pt;
  }
  A{
    font-family: helvetica, arial, sans-serif;
	font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
	color: #0000ff;
  }
  A:Hover{
    color: #004080;
	text-decoration: underline;
  }
  table.whole{
    border: 0px solid #004000;
	background : #84c1ff;
	border-style: groove;
  }
  table.nav{
    border: 0px solid #004080;
	background: #8080c0;
	border-style: ridge;
  }
  td.nav{
    background: #5acd9f;
  }
  table.main{
    border: 0px solid #004080;
	background: #8080c0;
	border-style: ridge;
  }
  table.text{
    border: 0px solid #004080;
	background: white;
  }
  table.news{
    border: 0px solid #004080;
	background : #ffffb7;
  }
  td.section{
    border-top: 2px solid #004080;
	border-left: 2px solid #004080;
	border-right: 2px solid #004080;
	text-align: center;
  }
  .Heading{
    font-size: 15pt;
	font-style: bold;
  }
  .Code{
    font-size: 11pt;
    font-family: Courier New, Courier, serif;
	color: red;
  }
  td.aboutme{
    border-top: 1px solid #004080;
	border-left: 2px solid #004080;
	border-bottom: 1px solid #004080;
  }
